.hero {
    height: 80vh;
    position: relative;
    background: linear-gradient(to bottom, #ffe6f0, #ffedf5);
}

.hero .overlay {
    background: rgba(255, 230, 240, 0.7);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 0;
}

.hero .text-white {
    position: relative;
    z-index: 1;      /* ovanpå overlayn */
    color: #2b2b2b;  /* mörkgrå/svart text */
    text-align: center;
}
